<h1>ZZ.GG</h1>
<br><br>

<input style="margin-left: 5%" type="text" placeholder="Username" id="userNameSearch">
<button (click)="searchAccount()" formtarget="_blank"><fa-icon [icon]="faSearch"></fa-icon></button>
<button (click)="resetAccount()" formtarget="_blank"><fa-icon [icon]="faRefresh"></fa-icon></button>

<div *ngIf="accountLoaded" class="container-fluid" style="border: 1px solid black; height: 50%; padding: 2%; margin: 5%">

    <img id="profileIcon" alt="item" [src]="icon" style="border-radius: 50%; ">
    <h2>{{account?.name}}</h2>
    <h3>Level: {{account?.summonerLevel}}</h3>

</div>
<br>

<!-- <button (click)="getIcon()">GetIcon</button> -->