/* -----------------------------   Containers and divs  ----------------------------- */

/* ------ DARK ----- */

.mainContainerDark {
    background-color: #323232;
    text-align: center;
    width: 100%;
    padding: 1% 0 2%;
    font-family: Verdana, Tahoma, sans-serif;
}

.accountLoadMainDivDark {
    border: 1px solid black;
    padding: 2%;
    margin: 5%;
    text-align: left;
    background-color: #212121;
}

.accountDivWrap {
    width: 100%;
    height: 100%;
    // display: flex;
    // border: 1px solid red;
    display: inline-block;
}

.accountLoadDiv {
    //  border: 3px solid purple;
    // display: inline-block;
    width: 40%;
    float: left;
}

.accountChampions {
    //  border: 3px solid greenyellow;
    float: left;
    width: 55%;
    //margin-left: 1000px;
}

.championDiv {
    width: 33%;
    //margin-left: 2%;
    display: inline-block;
    // border: 1px solid black;
}

/* ------ LIGHT ----- */

.mainContainerLight{
    background-color: #0D7377;
    text-align: center;
    width: 100%;
    padding: 1% 0 2%;
    font-family: Verdana, Tahoma, sans-serif;
}

.accountLoadMainDivLight {
    border: 1px solid #212121;
    padding: 2%;
    margin: 5%;
    text-align: left;
    background-color: #14FFEC;
}

/* -----------------------------   Inputs   ----------------------------- */

/* ------ Dark ----- */
#userNameSearchInputDark {
    margin-left: 5%;
    margin-top: 2%;
    padding: 0;
    width: 35%;
    height: 3em;
    text-align: center;
    font-size: 1em;
    background-color: #212121;
    color: #14FFEC;
}

#userNameSearchInputDark:focus {
    outline: none !important;
    border:1px solid #14FFEC;
    box-shadow: 0 0 10px #0D7377;
  }
/* ------ LIGHT ----- */

#userNameSearchInputLight {
    margin-left: 5%;
    margin-top: 2%;
    padding: 0;
    width: 35%;
    height: 3em;
    text-align: center;
    font-size: 1em;
    background-color: #14FFEC;
    color: #212121;
}

#userNameSearchInputLight:focus {
    outline: none !important;
    border:1px solid #212121;
    box-shadow: 0 0 10px #323232;
  }


/* -----------------------------   Label Paragraphs and Hs  ----------------------------- */

/* ------ DARK ----- */
.labelParagraphDark {
    display: inline;
    color: grey;
}

.labelDataParagraphDark { 
    display: inline;
    color: #0D7377; //rgb(0, 180, 255);
}


.title1 {
    display: inline;
    color: #14FFEC; //rgb(0, 180, 255);

}
.title2 {
    color: #212121; //rgb(0, 180, 255);
    display: inline;
}

.championHrDark{
    background-color: #14FFEC; 
    border: none; 
    height: 1px;
}

/* ------ LIGHT ----- */

.championHrLight{
    background-color: #212121; 
    border: none; 
    height: 1px;
}

.labelParagraphLight {
    display: inline;
    color: grey;
}

.labelDataParagraphLight { 
    display: inline;
    color: #212121; //rgb(0, 180, 255);
}


/* ------------------------------   theme   ------------------------------ */

.versionAndTheme{
    position: relative;
    width: 100%;
}

.themeMode{
    display: inline;    
    margin-top: 0;
    float: right;
}


/* -----------------------------   version   ----------------------------- */

.version {
    color: red;
    margin-top: 0;
    text-align: left;
    display: inline;
    float: left;
    width: 95%;
}

/* --------------------------   Switch Slider   --------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #14FFEC;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #14FFEC;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* -----------------------------   Images   ----------------------------- */

#profileIcon {
    border-radius: 50%;
    width: 30%;
}

#championIcon {
    width: 50%;
    height: 50%;
    display: inline-block;
}


/* -----------------------------   Buttons   ----------------------------- */

/* ------ DARK ----- */
#searchButtonDark {
    border-radius: 10%;
    width: 3%;
    height: 3.4em;
    font-size: 1em;
    margin-left: 0.5%;
    background-color: #14FFEC;
    
}

#resetButtonDark {
    border-radius: 10%;
    width: 3%;
    height: 3.4em;
    font-size: 1em;
    margin-left: 0.5%;
}

#refreshButtonDark {
    width: 40%;
    height: 3.4em;
    font-size: 1em;
    background-color: #14FFEC;
    color: #212121; 
}

/* ------ LIGHT ----- */

#searchButtonLight {
    border-radius: 10%;
    width: 3%;
    height: 3.4em;
    font-size: 1em;
    margin-left: 0.5%;
    background-color: #212121;
    color: white;
    
}

#resetButtonLight {
    border-radius: 10%;
    width: 3%;
    height: 3.4em;
    font-size: 1em;
    margin-left: 0.5%;
}

#refreshButtonLight {
    width: 40%;
    height: 3.4em;
    font-size: 1em;
    background-color: #212121;
    color: #14FFEC; 
}


/* -----------------------------   Button animations   ----------------------------- */

/* ------ DARK ----- */
#searchButtonDark:hover {
    color: #14FFEC;
    background-color: #323232;

    outline: none !important;
    border:1px solid #14FFEC;
    box-shadow: 0 0 10px #0D7377;

    transform: scale(1.1);
}

#resetButtonDark:hover {
    color: #14FFEC;
    background-color: #323232;

    outline: none !important;
    border:1px solid #14FFEC;
    box-shadow: 0 0 10px #0D7377;
    transform: scale(1.1);
}

#refreshButtonDark:hover {
    color: #14FFEC;
    background-color: #323232;

    outline: none !important;
    border:1px solid #14FFEC;
    box-shadow: 0 0 10px #0D7377;
    transform: scale(1.05);
}

/* ------ LIGHT ----- */

#searchButtonLight:hover {
    color: #323232;
    background-color: #14FFEC;

    outline: none !important;
    border:1px solid #212121;
    box-shadow: 0 0 10px #323232;

    transform: scale(1.1);
}

#resetButtonLight:hover {
    color: #212121;
    background-color: #14FFEC;

    outline: none !important;
    border:1px solid #212121;
    box-shadow: 0 0 10px #323232;
    transform: scale(1.1);
}

#refreshButtonLight:hover {
    color: #212121;
    background-color: #14FFEC;

    outline: none !important;
    border:1px solid #212121;
    box-shadow: 0 0 10px #323232;
    transform: scale(1.05);
}