<div id="mainContainer" class="container-fluid">
    <p id="version">{{version}}</p>
    <h1 class="title">ZZ.GG</h1>

    <input type="text" placeholder="Summoner name" id="userNameSearchInput">
    <button id="searchButton" (click)="searchAccount()" formtarget="_blank"><fa-icon [icon]="faSearch"></fa-icon></button>
    <button id="resetButton" (click)="resetAccount()" formtarget="_blank"><fa-icon [icon]="faRefresh"></fa-icon></button>


    <div id="accountLoadMainDiv" *ngIf="accountLoaded" class="container-fluid">
        <div id="accountDivWrap">
            <div id="accountLoadDiv">
                <img id="profileIcon" alt="item" [src]="icon">
                <h2>
                    <p class="labelParagraph">User:</p>
                    <p class="labelDataParagraph"> {{account?.name}}</p>
                </h2>
                <h4>
                    <p class="labelParagraph">Level:</p>
                    <p class="labelDataParagraph"> {{account?.summonerLevel}}</p>
                </h4>
                <h4>
                    <p class="labelParagraph">Champion score:</p>
                    <p class="labelDataParagraph"> {{score}}</p>
                </h4>
                <button id="refreshButton" (click)="refreshAccount()" formtarget="_blank">Refresh</button>
            </div>
            <!-- Kraj unutrasnjeg account kontejnera -->
            <div id="accountChampions">
                <div class="championDiv" *ngFor='let champion of championsByAcc'>
                    <img id="championIcon" [src]=championIcon alt="championIcon"> <br><br>
                    <hr>

                    <p class="labelParagraph">Champion:</p> {{champion.championId}} <br><br>
                    <p class="labelParagraph">Champion Level:</p> {{champion.championLevel}} <br><br>
                    <p class="labelParagraph">Champion Points:</p> {{champion.championPoints}} <br><br>
                    <p class="labelParagraph">Chest Granted:</p> {{champion.chestGranted}} <br><br>
                </div>
            </div>
            <!-- Kraj account champions div-a -->
        </div>
        <!-- Kraj account wrap div-a -->

    </div>
    <!-- Kraj account kontejnera -->
    <br>

</div>
<!-- Kraj glavnog kontejnera -->