<div [ngClass]="[mainContainerTheme]" class="container-fluid">
    <div class="versionAndTheme">
        <p *ngIf="version" class="version">v{{version}}</p>
        <div class="themeMode">
            
            <label class="switch"> aaa
            <input type="checkbox" (change)="changeSelection($event)">
            <span class="slider round"> 
                <fa-icon style="font-size:1.6em; color: #B2B2B2;" [icon]="faMoon"></fa-icon> &nbsp;
                <fa-icon style="font-size:1.6em; color: #FFFF44;" [icon]="faSun"></fa-icon>
            </span>
            </label>
            
        </div>
    </div> 
    <h1>
        <p class="title1">ZZ</p> 
        <p class="title2">.GG</p>
    </h1>

    <input type="text" placeholder="Summoner name" [id]="userNameSearchInpuTheme">
    <button [id]="searchButtonTheme" (click)="searchAccount()" formtarget="_blank"><fa-icon [icon]="faSearch"></fa-icon></button>
    <button [id]="resetButtonTheme" (click)="resetAccount()" formtarget="_blank"><fa-icon [icon]="faRefresh"></fa-icon></button>


    <div [ngClass]="[accountLoadMainDivTheme]" *ngIf="accountLoaded" class="container-fluid">
        <div class="accountDivWrap">
            <div class="accountLoadDiv">
                <img id="profileIcon" alt="item" [src]="icon">
                <h2>
                    <p [ngClass]="labelParagraphTheme">Summoner Name:</p>
                    <p [ngClass]="labelDataParagraphTheme"> {{account?.name}}</p>
                </h2>
                <h4>
                    <p [ngClass]="labelParagraphTheme">Level:</p>
                    <p [ngClass]="labelDataParagraphTheme"> {{account?.summonerLevel}}</p>
                </h4>
                <h4>
                    <p [ngClass]="labelParagraphTheme">Champion score:</p>
                    <p [ngClass]="labelDataParagraphTheme"> {{score}}</p>
                </h4>
                <button [id]="refreshButtonTheme" (click)="refreshAccount()" formtarget="_blank">Refresh</button>
            </div>
            <!-- Kraj unutrasnjeg account kontejnera -->
            <div class="accountChampions">
                <div class="championDiv" *ngFor='let champion of championsByAcc'>
                    <img id="championIcon" [src]=champion.championIcon alt="championIcon"> <br><br>
                    <p [ngClass]="labelDataParagraphTheme">{{champion.championTitle}}</p> <br>
                    <hr [ngClass]="[championHrTheme]"><br>

                    <p [ngClass]="labelParagraphTheme">Champion: </p> <p [ngClass]="labelDataParagraphTheme">{{champion.championName}}</p> <br><br>
                    <p [ngClass]="labelParagraphTheme">Champion Level: </p> <p [ngClass]="labelDataParagraphTheme">{{champion.championLevel}}</p> <br><br>
                    <p [ngClass]="labelParagraphTheme">Champion Points: </p> <p [ngClass]="labelDataParagraphTheme">{{champion.championPoints}}</p> <br><br>
                    <p *ngIf="champion.chestGranted; else elseBlock" [ngClass]="labelParagraphTheme">Chest Granted: </p> <p *ngIf="champion.chestGranted" [ngClass]="labelDataParagraphTheme"> Yes</p> <br><br>
                    <ng-template #elseBlock><p [ngClass]="labelParagraphTheme">Chest Granted: </p> <p [ngClass]="labelDataParagraphTheme"> No</p> <br><br></ng-template>
                    
                    
                </div>
            </div>
            <!-- Kraj account champions div-a -->
        </div>
        <!-- Kraj account wrap div-a -->

    </div>
    <!-- Kraj account kontejnera -->
    <br>

</div>
<!-- Kraj glavnog kontejnera -->